body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: white;
    padding: 20px;
}

#projetos, #contato {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 0px 5px 25px 0px #000;
    object-fit: cover;
}

.projeto {
    margin-bottom: 15px;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}